#uniqueColumn {
    background-color: antiquewhite;
    padding: 4%;
    margin: 2%;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#titleColumn {
    margin: 2px;
}

#addTicketColumnButton {
    margin: 2% 3%;
    border: none;
    border-radius: 5px;
    padding: 2%;
    width: 90%;
    background-color: white;
}

#addTicketColumnButton:hover { 
    background-color: lightblue;
}

#addTicketColumnButton:active {
    background-color: lightcoral;
}

[appDraggable] {
    &.drag-entered {
        box-shadow: 0 0 10px 2px #59c9db;
    }

    &.dragging {
        opacity: 0.4;
    }
}